@media screen and (min-width:1920px) {
    .wrapper{
        width: 85%;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .col-md-5 {
        width: 36.5% !important;
    }
}
@media (min-width: 768px) {
    .col-md-7 {
        width: calc(100% - 36.5%) !important;
    }
}
@media (max-width: 767px) {
    .section-2-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* filza not  */

/* @media (min-width: 1200px) {
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
}
}
@media (min-width: 992px) {
.container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
}
}
@media (min-width: 768px) {
.container, .container-sm, .container-md {
    max-width: 720px;
}
}
@media (min-width: 576px) {
.container, .container-sm {
    max-width: 540px;
}
} */
/* @media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
}
 @media (min-width: 992px) {
.container {
    max-width: 960px;
}
} */
/* @media (min-width: 768px) {
.container {
    max-width: 720px;
}
} */
/* @media (min-width: 576px) {
.container {
    max-width: 540px;
}
}
@media (min-width: 768px) {
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}  */
@media (max-width: 1024px) {
    .section-2-right-down {
        width: 100%;
        height: 48vh;
    }
    .section-2-right-container {
        width: 90%;
    height: 77vh;
    }
    .section-1-inner-box{
        max-width: 56%;
        min-width: 100%;
    }
}
@media (max-width: 570px) {
    .section-1-inner-box{
        display: none;
    }
}
@media (max-width: 999px) {
    .section-4{
        max-height: 187vh;
    }
}
/* @media (max-width: 2560px) {
    .section-4{
        height: 118vh;
    }
} */
@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 576px) {
    .d-sm-flex {
        display: flex !important;
    }
}
@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 670px) {
    .section-1-center-2 {
        width: 100%;
    }
    .section-1-center-2 span{
        display: none;
    }
}
@media (max-width: 1308px) {
    .section-1-center{
        width: 85%;
    }
}
@media (max-width: 864px) {
    .section-1-center{
        width: 95%;
    }
}
@media (max-width: 774px) {
    .section-1-center{
        visibility: hidden;
    }
}
@media (min-width: 1920px) and (max-width:2560px){
    .section-4 {
        min-height: 80vh;
    }
}
@media (min-width: 1440px) and (max-width:1920.99px){
    .section-4 {
        min-height: 180vh;
    }
}